@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

img {
  display: block;
}

  /*  * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*                                                       *
*                         Added CSS                     *
*              --------------------------------         *
*                                                       * 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav li {
  padding-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  padding: .6rem;
}
nav ul a:hover {
  background-color: cadetblue;
  border-radius: .5rem;
  font-weight: bold;

  color: black;
}

@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  /*  * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*                                                       *
*                         Added CSS                     *
*              --------------------------------         *
*                                                       * 
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  color: white;
  padding: 1rem;
}

nav ul {
  display: flex;
}

nav li {
  padding-right: 5rem;
}
}

footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: black;
  color: white;
}